@model IEnumerable<MediaMark.Models.Products>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create new product</a>
</p>

<p><b>Sort by:@Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm })</b></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
               Category
            </th>
           


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @{ if (item.Picture != null)
                    {
                        <img src="~/images/@item.Picture"
                             class="rounded-circle"
                             height="60" width="60"
                             asp-append-version="true" />
                    }

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice) den.
            </td>
            <td>
                @if (item.RefCateogryID != null)
                {
                    <a asp-controller="Home" asp-action="Kategori" asp-route-id="@item.RefCateogryID"> 
                @Html.DisplayFor(modelItem => item.Category.CategoryName)</a>
                }
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
