@model MediaMark.Models.Order

@{
    ViewBag.Title = "Complete Order";
}

<div class="jumbotron">
    <h1>Order Complete</h1>
</div>


<form action="@ViewBag.PostURL" class="form-contact validate-form no-ajax" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <h4>Your Personal Details and Address</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdentityNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.IdentityNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IdentityNumber, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-6">
            <div class="form-horizontal">
                <h4>Card Details</h4>
                <hr />
                <div class="form-group">
                    <label class="control-label col-md-6" for="kartisimsoysisim">Full Name</label>
                    <div class="col-md-6">
                        <input autocomplete="off" name="kartisimsoysisim" type="text" maxlength="255" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-6" for="Ad">Credit Card Number:</label>
                    <div class="col-md-6">
                        <input autocomplete="off" id="contact-email" name="pan" type="text" value="5571135571135575" />
                        <input type="hidden" name="clientid" value="@ViewBag.ClientId">
                        <input type="hidden" name="oid" value="@ViewBag.Oid">
                        <input type="hidden" name="okUrl" value="@ViewBag.okUrl">
                        <input type="hidden" name="failUrl" value="@ViewBag.failUrl">
                        <input type="hidden" name="islemtipi" value="@ViewBag.TransActionType">
                        <input type="hidden" name="rnd" value="@ViewBag.RDN">
                        <input type="hidden" id="hash" name="hash" value="@ViewBag.Hash">
                        <input type="hidden" name="storetype" value="@ViewBag.StoreType">
                        <input type="hidden" name="refreshtime" value="10">
                        <input type="hidden" name="lang" value="@ViewBag.Lang">
                        <input type="hidden" name="currency" value="949">
                        <input type="hidden" name="amount" value="@ViewBag.Amount" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-6" for="kartisimsoysisim">Valid Thru</label>
                    <div class="col-md-6">
                        <select class="sec" style="float:left;width:75px;" name="Ecom_Payment_Card_ExpDate_Month">

                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12" selected="selected">12</option>

                        </select>
                        <select class="sec" style="float:left;width:75px;" name="Ecom_Payment_Card_ExpDate_Year">
                            <option value="17">20</option>
                            <option value="18" selected="selected">21</option>
                            <option value="19">22</option>
                            <option value="20">23</option>
                            <option value="21">24</option>
                            <option value="22">25</option>

                        </select>

                    </div>
                </div>
                <div class="form-group">
                  CVC  <label class="control-label col-md-6" for="CVC"></label>
                    <div class="col-md-6">
                        <input autocomplete="off" id="contact-phone" name="cvCode" type="text" value="000" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" style ="color:red ; font-size:16px ;font-weight: bold;" value="COMPLETE PAYMENT" class="btn btn-default" />
                        </br>
                        <p>
                            Card 3D Secure Password : a
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>